
html {
	height: 100%;
}
/* 
.container {
	width:100%; height:100%;
} */
body {
	height: 100%;
	padding-top: 70px;
}

.iconic-sprite {
	width: 20px;
	height: 20px;
}

.icon-circle-check-true {
	fill: lightgreen;
}

.icon-circle-check-false {
	fill: lightgrey;
}


/* Circling loader */
.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

/* Fade out the loading bar */
.load-complete {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
